.footer_links {
    list-style: none;
}

.footer_links a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}

footer {
    padding-top: 3vw;
    background-color: rgb(173, 173, 173);
}

footer .copyr {
    margin-top: 3vw;
    background-color: rgb(160, 160, 160);
    width: 100%;
    text-align: center;
}

footer img {
    max-width: 7vw;
}